 layout {
    gaps 12
    center-focused-column "never"

    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    focus-ring {
        off
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    struts {}
}


output "DP-2" {
    mode "2560x1440@143.912"
    transform "90"
    position x=0 y=0

    hot-corners {
        off
    }

    layout {
        default-column-width { proportion 1.0; }
    }
}

output "DP-3" {
    mode "2560x1440@239.992"
    position x=1440 y=0

    focus-at-startup

    hot-corners {
        off
    }
}

output "HDMI-A-1" {
    mode "1920x1200@59.950"
    position x=1440 y=1440

    hot-corners {
        off
    }

    layout {
        default-column-width { proportion 1.0; }
    }
}
